<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.GraffitiRepository">

	<select id="selectAllGraffitis" resultType="graffiti" parameterType="Long">
		SELECT
				seq as sequence, section_seq as sectionSequence, comment, url_type as urlType, url, like_cnt as likeCount
				, unlike_cnt as unlikeCount, reg_ymdt as regYmdt, modify_ymdt as modifyYmdt
		FROM graffiti
		<if test="value != 0">
		WHERE section_seq = #{sectionSequence}
		</if>
		ORDER BY like_cnt+(unlike_cnt*0.4) Desc, modify_ymdt desc
	</select>
	<!-- FLOOR(RAND() * 10) random count filter -->

	<insert id="saveGraffiti" parameterType="graffiti">
		INSERT INTO graffiti (section_seq, comment, url_type, url, like_cnt, reg_ymdt, modify_ymdt)
    	VALUE (#{sectionSequence}, #{comment}, #{urlType}, #{url}, #{likeCount}, now(), now())
	</insert>

	<update id="updateGraffiti" parameterType="graffiti">
  		UPDATE graffiti
  		SET
  			section_seq = #{sectionSequence},
  			comment = #{comment},
  			urlType = #{urlType},
  			url = #{url},
  			<if test="likeCount">
  			like_cnt = #{likeCount},
  			</if>
  			<if test="unlikeCount">
  			unlike_cnt = #{unlikeCount},
  			</if>
  			modify_ymdt = now()
  		where seq = #{sequence}
	</update>

	<update id="updateGraffitiLike" parameterType="Long">
  		UPDATE graffiti
  		SET
  			like_cnt = like_cnt + 1,
  			modify_ymdt = now()
  		where seq = #{sequence}
	</update>

	<update id="updateGraffitiUnlike" parameterType="Long">
  		UPDATE graffiti
  		SET
  			unlike_cnt = unlike_cnt + 1,
  			modify_ymdt = now()
  		where seq = #{sequence}
	</update>

	<delete id="deleteGraffiti" parameterType="Long">
    	DELETE FROM graffiti
    	WHERE seq = #{sequence}
    </delete>
</mapper>