<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.SecretRoomHistoryRepository">

	<insert id="insertSecretRoomHistory" parameterType="Long">
		INSERT INTO
			secret_room_history
			(
				secret_room_seq,
				start_ymdt
			)
		VALUES
			(
				#{secretRoomSequene},
				NOW()
			)
	</insert>
	
	<update id="updateEndYmdt" parameterType="Long">
		UPDATE
			secret_room_history
		SET
			end_ymdt = NOW()
		WHERE
			seq = #{historySequence}
	</update>
	
</mapper>