<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.SecretRoomRepository">

	<resultMap type="secretRoom" id="secretRoom">
		<id column="seq" property="sequence" />
		<result column="section_seq" property="sectionSequence" />
		<result column="nick_nm" property="nickName" />
		<result column="use_cnt" property="useCount" />
		<result column="modify_ymdt" property="modifyYmdt" />
		<result column="stat" property="status" />
		<result column="current_history_seq" property="currentHistorySequence" />
	</resultMap>

	<select id="selectSecretRoom" resultMap="secretRoom" parameterType="Long">
		SELECT
			seq,
			section_seq,
			nick_nm,
			use_cnt,
			modify_ymdt,
			stat,
			(
				SELECT
					seq
				FROM
					secret_room_history
				WHERE
					secret_room_seq = #{secretRoomSequene}
				ORDER BY seq DESC
				LIMIT 1
			) AS current_history_seq
		FROM
			secret_room
		WHERE
			seq = #{secretRoomSequene}
	</select>
	
	<update id="updateUseStats" parameterType="Long">
		UPDATE
			secret_room
		SET
			stat = 'USE' ,
			use_cnt = use_cnt + 1,
			modify_ymdt = NOW()
		WHERE
			seq = #{secretRoomSequene}
			AND stat = 'UNUSE'
	</update>
	
	<update id="updateUnuseStats" parameterType="Long">
		UPDATE
			secret_room
		SET
			stat = 'UNUSE' ,
			modify_ymdt = NOW()
		WHERE
			seq = #{secretRoomSequene}
	</update>
	
</mapper>