<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.SectionRepository">

	<resultMap type="sectionViewInfo" id="sectionViewInfo">
		<id column="seq" property="sectionSequence" />
		<result column="building_seq" property="buildingSequence" />
		<result column="building_name" property="buildingName" />
		<result column="nick_nm" property="nickName"/>
		<result column="sex" property="sex" />
		<result column="floor" property="floor" />
		<result column="current_knock_count" property="currentKnockCount" />
		<collection property="rooms" ofType="secretRoomInfo">
			<id column="secret_room_seq" property="secretRoomSequence"/>
			<result column="secret_room_nick_nm" property="nickName"/>
			<result column="secret_room_modify_ymdt" property="modifyYmdt"/>
			<result column="secret_room_stat" property="status"/>
		</collection>
	</resultMap>

	<select id="selectViewInfo" resultMap="sectionViewInfo" parameterType="Long">
		SELECT
			s.seq AS 'seq',
			b.seq AS 'building_seq',
			b.nm AS 'building_name',
			s.sex AS 'sex',
			s.floor AS 'floor',
			s.nick_nm AS 'nick_nm',
			sr.seq AS 'secret_room_seq',
			sr.nick_nm AS 'secret_room_nick_nm',
			sr.modify_ymdt AS 'secret_room_modify_ymdt',
			sr.stat AS 'secret_room_stat',
			(
				SELECT
					COUNT(*)
				FROM
					section_knock k
				WHERE
					k.section_seq = s.seq
					AND k.reg_ymdt > DATE_ADD(NOW(),INTERVAL -15 MINUTE)
			) AS 'current_knock_count'
		FROM
			section s
				INNER JOIN
			building b
				ON s.building_seq = b.seq
					LEFT OUTER JOIN
				secret_room sr
					ON s.seq = sr.section_seq
		WHERE
			s.seq = #{sectionSequence}
	</select>


	<select id="selectAllSections" resultType="section">
		SELECT seq as sequence, building_seq as buildingSequence, floor, sex, nick_nm as nickName
		FROM section
	</select>

	<insert id="saveSection" parameterType="section">
		INSERT INTO section (building_seq, floor, sex, nick_nm)
    	VALUE (#{buildingSequence}, #{floor}, #{sex}, #{nickName})
	</insert>

	<update id="updateSection" parameterType="section">
  		UPDATE section
  		SET
  			building_seq = #{buildingSequence},
  			floor = #{floor},
  			sex = #{sex},
  			nick_nm = #{nickName}
  		where seq = #{sequence}
	</update>

	<delete id="deleteSection" parameterType="Long">
    	DELETE FROM section
    	WHERE seq = #{sequence}
    </delete>
</mapper>