<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.SectionKnockRepository">

	<insert id="insertKnock" parameterType="Long">
		INSERT INTO section_knock(
			section_seq,
			reg_ymdt
		) VALUES (
			#{sectionSequence},
			NOW()
		)
	</insert>

	<select id="selectKnockCount" parameterType="Long" resultType="Long">
		SELECT
			COUNT(*) AS 'current_knock_count'
		FROM
			section_knock k
		WHERE
			k.section_seq = #{sectionSequence}
			AND k.reg_ymdt > DATE_ADD(NOW(),INTERVAL -15 MINUTE)
	</select>

</mapper>