<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.netty.nloo.repository.TestRepository">

	<resultMap type="test" id="test">
		<id column="seq" property="sequence"/>
		<result column="message" property="message"/> 
	</resultMap>
	
	<select id="selectAll" resultMap="test">
		SELECT
			seq,
			message
		FROM
			test
	</select>

</mapper>